.container {
    width: 500px;
    margin: 90px auto;
    padding: 20px;

}


.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 14px;
    border-style: none;
    cursor: pointer;
    margin-top: 12px;
}


.input {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid lightblue;
    width: 50%;

}

.input:focus {
    outline: none;
}

.flex {
    display: flex;
    gap: 10px;
}


.users-container {
    width: 400px;
    margin: 40px auto;

}

.user {
    width: 100%;
    /* border: 1px solid lightgray; */
    background-color: #f2f2f2;
    border-radius: 12px;
    padding:6px 20px;
    display: flex;
    gap: 20px;
    margin-top: 12px;
}


.alert {
    padding: 16px 30px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 12px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 200px;
    transition: .3s;
    transform: scale(0);
}

.success{
    transform: scale(1);
    color: rgb(0, 93, 0);
    background-color: rgb(231, 255, 240);
}
.danger{
    transform: scale(1);
    color: rgb(119, 0, 0);
    background-color: rgb(255, 231, 231);
}